//text-colors
$title-color:#898f8f;
$subtitle-color: #666666;
$text-color:#333333;

//colors
$main-color: #FFCC00;

//fonts-size
$big-fsz: 60px;
$subtitle-fsz:18px;
$title-fsz:36px;
$text-fsz:24px;
$btn-fsz:14px;

//fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-raleway:'Raleway', sans-serif;